* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    
    list-style: none;
      
}

ul li {
    font-size: 16px;
    color: white;
}

.navbar {
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    gap: 10px;
    margin-right: 24px;
}

.navbar h2 {
    color: white;
    font-size: 32px;
}

.titulo{
    justify-content: left;
    color: white;
}